body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.link-button {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #FF5959;
    color: white;
    font-weight: 600;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
}

.full-width-one {
    text-align: center;
    color: white;
}

.full-width-one h1 {
    font-size: 50px;
    font-weight: 700;
}

.full-width-one p {
    padding-bottom: 50px;
}