body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.link-button {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #FF5959;
    color: white;
    font-weight: 600;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 11%;
}

.full-width-one {
    text-align: center;
    color: white;
}

.full-width-one h1 {
    font-size: 50px;
    font-weight: 700;
}

.full-width-one p {
    padding-bottom: 50px;
}

.donate-section {
    padding: 10%;
}

.full-width-two {
    text-align: center;
}

.full-width-two h1 {
    font-size: 40px;
    font-weight: 700;
}

.full-width-two p {
    color: #949494;
    margin-bottom: 70px;
}

.full-width-two span {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 10px;
    margin-left: 15px;
    background-color: #FAFAFA;
}

#donate-now {
    border: 1px solid red;
    border-radius: 5%;
    background-color: #FFEEEE;
}

.full-width-two input {
    border: none;
    color: #949494;
    font-size: 15px;
}

.full-width-two hr {
    width: 50%;
    border-top: 1px solid #cecdcd;
    margin-bottom: 50px;
}

.donate-plan-section {
    padding: 2% 10% 10% 10%;
}

.simple-div {
    text-align: center;
    margin-bottom: 70px;
}

.simple-div h1 {
    font-size: 40px;
    font-weight: 700;
}

.simple-div p {
    color: #949494;
}

.three-width {
    display: flex;
}

.three-width div {
    padding: 2%;
    margin-left: 15px;
    border-radius: 1%;
}

.icon-box-one {
    background-color: #EDF5F6;
}

.icon-box-two {
    background-color: #FFEEEE;
}

.icon-box-three {
    background-color: #FFF4D6;
}

.join-now-section {
    display: flex;
    padding: 3% 10% 10% 10%;
}

.half-width {
    width: 50%;
    margin-left: 50px;
}

.half-width img {
    width: 90%;
    box-shadow: 5px 5px 5px 5px #a39f9f;
}

.half-width h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
}

.half-width p {
    margin-bottom: 30px;
}